.frame-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame-frame {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: var(--dl-color-www.magnofernandes.com-neroblack);
}
.frame-container01 {
  height: 1082px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame-section {
  display: flex;
  padding: 0 390px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.frame-container02 {
  width: 1140px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.frame-container03 {
  display: flex;
  padding: 10px;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.frame-margin {
  height: 263px;
  display: flex;
  padding: 0 0 20px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.frame-container04 {
  height: 243px;
  display: flex;
  padding: 75px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame-container05 {
  display: flex;
  padding: 0 476px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.frame-picture {
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-magnofoto1024x1024jpgwebp {
  width: 168px;
  height: 168px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 100px;
  background-size: cover;
  background-image: url("public/tq_tu7ogakurf-315n-200h.png");
}
.frame-margin1 {
  height: 90px;
  display: flex;
  padding: 0 0 20px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.frame-container06 {
  height: 70px;
  display: flex;
  padding: 10px 50px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame-container07 {
  display: flex;
  padding: 0 370.1199951171875px 0 370.1099853515625px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.frame-text {
  color: var(--dl-color-www.magnofernandes.com-nero);
  width: 296px;
  height: auto;
  font-size: 30px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.frame-margin2 {
  height: 156.75px;
  display: flex;
  padding: 0 0 20px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.frame-container08 {
  height: 136.75px;
  display: flex;
  padding: 0 350px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame-container09 {
  gap: 14px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.frame-paragraph {
  gap: -0.009999999776482582px;
  display: flex;
  padding: 0 12.970000267028809px 0 12.949999809265137px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.frame-text04 {
  color: var(--dl-color-www.magnofernandes.com-nero);
  width: 472px;
  height: auto;
  text-align: center;
  line-height: 21.600000381469727px;
}
.frame-container10 {
  display: flex;
  padding: 0 60.91999816894531px 0 60.90999984741211px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.frame-text06 {
  color: var(--dl-color-www.magnofernandes.com-nero);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 21.600000381469727px;
}
.frame-margin3 {
  height: 237.8000030517578px;
  display: flex;
  padding: 0 0 20px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.frame-container11 {
  height: 217.8000030517578px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame-container12 {
  display: flex;
  padding: 0 330.5px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.frame-link {
  display: contents;
}
.frame-link-picture {
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-aulao1jpgwebp {
  width: 459px;
  height: 217.8000030517578px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  background-size: cover;
  background-image: url("public/tq_x6gsekyuzy-fqp9-1500h.png");
}
.frame-margin4 {
  height: 237.8000030517578px;
  display: flex;
  padding: 0 0 20px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.frame-container13 {
  height: 217.8000030517578px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame-container14 {
  display: flex;
  padding: 0 330.5px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.frame-link1 {
  display: contents;
}
.frame-link-picture1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-metododn-ajpgwebp {
  width: 459px;
  height: 217.8000030517578px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  background-size: cover;
  background-image: url("public/tq_ptenlwrfa4-2stb-1500h.png");
}
.frame-section1 {
  display: flex;
  padding: 0 390px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.frame-container15 {
  width: 1140px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.frame-container16 {
  display: flex;
  padding: 50px 100px;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.frame-heading2 {
  display: flex;
  padding: 0 345.3900146484375px 0 345.3800048828125px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.frame-text08 {
  color: var(--dl-color-www.magnofernandes.com-nero);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 16.799999237060547px;
}
