html {
  line-height: 1.15;
  scroll-behavior: smooth;
  font-family: Noto Sans, sans-serif;
}
body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: var(--dl-color-theme-neutral-dark);
  background-color: var(--dl-color-theme-neutral-light);
}
*, *::before, *::after {
  box-sizing: border-box;
  border: 0 solid;
}
p, li, ul, pre, div, h1, h2, h3, h4, h5, h6, figure, blockquote, figcaption {
  margin: 0;
  padding: 0;
}
button {
  background-color: transparent;
  font: inherit;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
}
img {
  display: block;
}
.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-www-magnofernandes-com-neroblack);
  padding: 0 10%;
}
.section {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.picture {
  display: flex;
  justify-content: center;
  margin: 75px 0 20px;
}
.picture img {
  width: 168px;
  height: 168px;
  border-radius: 50%;
  object-fit: cover;
}
.text {
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}
.text .name {
  font-size: 30px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  line-height: 30px;
}
.text .description {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
.text .cta {
  font-weight: 700;
  margin-top: 10px;
}
.link {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.link img {
  width: 100%;
  max-width: 459px;
  height: auto;
  border-radius: 20px;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 10%;
}
.footer span {
  color: #ffffff;
  text-align: center;
  font-weight: 700;
}

@media (max-width: 768px) {
  .frame {
    padding: 0 5%;
  }
  .section {
    padding: 0;
  }
  .picture img {
    width: 120px;
    height: 120px;
  }
  .text .name {
    font-size: 24px;
    line-height: 24px;
  }
  .link img {
    max-width: 100%;
  }
}